save-prefix=~
@types:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@ngtools:registry=https://registry.npmjs.org/
@angular-devkit:registry=https://registry.npmjs.org/
@schematics:registry=https://registry.npmjs.org/
