<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dados do Robo</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
      <div>
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Status atual do Robo: <small>{{robot.name + ' (' + robot.id + ')'}}</small></h5>
              </div>
              <div class="ibox-content">
                <div class="row">
                  <div class="col-lg-4">
                    <p>
                            Alinhamento da Cabeça: <code> {{robot.headAlign | headAlign}} </code>
                    </p>
                    <button (click)="moveHeadUp()" class="btn btn-default  dim " title="Mover p/ Cima" type="button"><i class="fa fa-arrow-up"></i></button>
                    <button (click)="moveHeadDown()" class="btn btn-default  dim " title="Mover p/ Baixo" type="button"><i class="fa fa-arrow-down"></i></button>
                    <p>
                            Rotação da Cabeça: <code>{{robot.headDirection | headDirection}}</code>
                    </p>
                    <button (click)="moveHeadLeft()" class="btn btn-default  dim " title="Mover p/ Esquerda" type="button"><i class="fa fa-arrow-left"></i></button>
                    <button (click)="moveHeadRight()" class="btn btn-default  dim " title="Mover p/ Direita" type="button"><i class="fa fa-arrow-right"></i></button>
                    <p>
                            Cotovelo Esquerdo: <code>{{robot.leftElbowPosition | elbowText}} </code>
                    </p>
                    <button (click)="moveLeftElbowCollapse()" class="btn btn-default  dim " title="Mover p/ Cima" type="button"><i class="fa fa-arrow-up"></i></button>
                    <button (click)="moveLeftElbowExpand()" class="btn btn-default  dim " title="Mover p/ Baixo" type="button"><i class="fa fa-arrow-down"></i></button>
                    <p>
                            Cotovelo Direito: <code>{{robot.rightElbowPosition | elbowText}} </code>
                    </p>
                    <button (click)="moveRightElbowCollapse()" class="btn btn-default  dim " title="Mover p/ Cima" type="button"><i class="fa fa-arrow-up"></i></button>
                    <button (click)="moveRightElbowExpand()" class="btn btn-default  dim " title="Mover p/ Baixo" type="button"><i class="fa fa-arrow-down"></i></button>
                    <p>
                            Pulso Esquerdo: <code>{{robot.leftWristDirection | wristText}} </code>
                    </p>
                    <button (click)="moveLeftWristToLeft()" class="btn btn-default  dim " title="Mover p/ Esquerda" type="button"><i class="fa fa-arrow-left"></i></button>
                    <button (click)="moveLeftWristToRight()" class="btn btn-default  dim " title="Mover p/ Direita" type="button"><i class="fa fa-arrow-right"></i></button>
                    <p>
                            Pulso Direito: <code>{{robot.rightWristDirection | wristText}} </code>
                    </p>
                    <button (click)="moveRightWristToLeft()" class="btn btn-default  dim " title="Mover p/ Esquerda" type="button"><i class="fa fa-arrow-left"></i></button>
                    <button (click)="moveRightWristToRight()" class="btn btn-default  dim " title="Mover p/ Direita" type="button"><i class="fa fa-arrow-right"></i></button>
                    <p></p>
                    <br/>
                    <br/>
                    <button  [routerLink]="['/']" class="btn btn-danger" type="button">Voltar</button>
                  </div>
                  <div class="col-lg-4">
                    <div class="row text-center">
                      <h5>Interação com o Robo</h5>
                      <br/>
                      <div class="text-left">
                        <app-robot-interaction [robot]=robot></app-robot-interaction>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="row text-center">
                      <h5>Regras de Movimentação da Cabeça</h5>
                        <div class="col-lg-4">
                          <ul>
                              <li>Rotação</li>
                              <ol>
                                <li>-90º</li>
                                <li>-45º</li>
                                <li>Em Repouso</li>
                              </ol>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                          <ul>
                            <li>Inclinação</li>
                            <ol>
                              <li>Para Cima</li>
                              <li>Em Repouso</li>
                              <li>Para Baixo</li>
                            </ol>
                          </ul>
                        </div>
                      </div>
                      <div class="row text-center">
                        <h5>Regras de Movimentação do Braço</h5>
                        <div class="col-lg-4">
                          Braço Direito
                          <ul>
                            <li>Colovelo</li>
                            <ol>
                              <li>Em Repouso</li>
                              <li>Levemente Contraído</li>
                              <li>Contraído</li>
                              <li>Fortemente Contraído</li>
                            </ol>
                          </ul>
                          <ul>
                              <li>Pulso</li>
                              <ol>
                                <li>-90º</li>
                                <li>-45º</li>
                                <li>Em Repouso</li>
                                <li>45º</li>
                                <li>90º</li>
                                <li>135º</li>
                                <li>180º</li>
                              </ol>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                          Braço Esquerdo
                          <ul>
                            <li>Colovelo</li>
                            <ol>
                              <li>Em Repouso</li>
                              <li>Levemente Contraído</li>
                              <li>Contraído</li>
                              <li>Fortemente Contraído</li>
                            </ol>
                          </ul>
                          <ul>
                            <li>Pulso</li>
                            <ol>
                              <li>-90º</li>
                              <li>-45º</li>
                              <li>Em Repouso</li>
                              <li>45º</li>
                              <li>90º</li>
                              <li>135º</li>
                              <li>180º</li>
                            </ol>
                          </ul>
                      </div>
                  </div>
                  <blockquote class="blockquote-reverse">
                      <p><small>Só é possível rotacionar a cabeça de ela não está inclinada Para Baixo.</small></p>
                      <p><small>Só é possível rotacionar o pulso se o ombro estiver Fortemente Contraído.</small></p>
                  </blockquote>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
